<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.mapper.ClasssMapper">

    <select id="queryOwnClass" resultType="com.jin.entity.Classs" parameterType="java.lang.Long">
        SELECT *
        FROM teacher,
             classs
        WHERE teacher.teacher_id = classs.teacher_id
          AND teacher.account_id = #{id}
    </select>
</mapper>
